@media all and (max-width:999px) {

.bx-next{
    right:10px !important;
}


.bx-prev{
    left: 10px !important;
}

.bx-controls-direction a{
    top:-250px !important;
}


.bx-viewport{
width:300px !important;
}

.bx-wrapper{
margin:0 !important;
}

    main .mainoffers .offer p, main .secondoffers .offer p, main .secondoffers .secondoffersslider .bxoffer p {
        font-family: PTSerif, Arial, Verdana, sans-serif;
        font-style: italic;
    }
    main .mainoffers {
        width: 300px;
        margin: 0 auto;
        padding-top: 17px;
    }
    main .mainoffers .bx-controls {

    }
    main .mainoffers .bx-controls .bx-next, main .mainoffers .bx-controls .bx-prev {
        background: url(../images/arrowwhite.svg) 50% 50%/13px auto no-repeat;
        position: absolute;
        top: 50%;
        pointer-events: all;
        width: 13px;
        height: 24px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        margin-top: -12px;
    }
    main .mainoffers .bx-controls .bx-prev {
        left: 10px;
    }
    main .mainoffers .bx-controls .bx-next {
        right: 10px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    main .mainoffers .mainoffersslider {
        width: 300px;
        margin: 0 auto;
        height: 450px;
    }
    main .mainoffers .mainoffersslider .bxoffer {
        padding: 40px 20px;
        text-align: right;
        box-sizing: border-box;
        color: #fff;
        height: 450px;
    }
    main .mainoffers .mainoffersslider .bxoffer h2 {
        letter-spacing: 3px;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    main .mainoffers .mainoffersslider .bxoffer p {
        font-family: PTSerif, Arial, Verdana, sans-serif;
        margin-bottom: 38px;
    }
    main .mainoffers .mainoffersslider .bxoffer .look {
        width: 148px;
        font-size: 12px;
        border-radius: 3px;
        height: 29px;
        color: #fff;
        text-align: center;
        display: inline-block;
        line-height: 28px;
        background: #753a80;
    }
    main .mainoffers .mainoffersslider .bxoffer .look:hover {
        background: #895b91;
    }
    main .mainoffers .mainoffersslider .bxoffer1 {
        color: #753a80;
        padding: 274px 20px 0;
        background: url(../images/offer1.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .mainoffersslider .bxoffer2 {
        padding: 274px 20px 0;
        background: url(../images/offer2.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .mainoffersslider .bxoffer3 {
        padding: 237px 20px 0;
        background: url(../images/offer3.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .mainoffersslider .bxoffer4 {
        padding: 274px 20px 0;
        background: url(../images/offer4.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer {
        width: 300px;
        box-sizing: border-box;
        color: #fff;
        text-align: center;
        padding: 140px 20px 0;
        margin-top: 10px;
    }
    main .mainoffers .offer h2 {
        text-align: center;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 6px;
        margin-bottom: 5px;
    }
    main .mainoffers .offer p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 42px;
    }
    main .mainoffers .offer5 {
        height: 245px;
        background: url(../images/offer5.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer6 {
        padding: 84px 20px 0;
        height: 225px;
        background: url(../images/offer6.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer7 {
        padding: 60px 20px 0;
        color: #753a80;
        height: 450px;
        border: 3px solid #753a80;
    }
    main .mainoffers .offer7 h2 {
        text-align: center;
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 29px;
        padding: 0 20px;
    }
    main .mainoffers .offer7 p {
        text-align: center;
        font-size: 14px;
        padding: 0 10px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    main .mainoffers .offer7 form {
        position: relative;
        padding-top: 84px;
    }
    main .mainoffers .offer7 form::before {
        content: '';
        position: absolute;
        width: 39px;
        top: 17px;
        left: 50%;
        margin-left: -21px;
        height: 26px;
        background: url(../images/mail.svg) 50% 50%/39px auto no-repeat;
    }
    main .mainoffers .offer7 form .subscribeinput {
        border-radius: 3px;
        width: 250px;
        height: 29px;
        display: block;
        line-height: 29px;
        box-sizing: border-box;
        padding-left: 14px;
        margin: 0 auto 20px;
        border: 1px solid #ababab;
    }
    main .mainoffers .offer7 form .subscribesubmit {
        width: 250px;
        height: 29px;
        cursor: pointer;
        border-radius: 3px;
        background: #753a80;
        color: #fff;
        font-size: 13px;
        text-align: center;
        border: 0;
        margin: 0 auto;
        display: block;
    }
    main .mainoffers .offer7 form .subscribesubmit:hover {
        background: #895b91;
    }
    main .musthave {
        padding-top: 30px;
    }
    main .musthave h2 {
        color: #753a80;
        text-align: center;
        font-size: 28px;
        letter-spacing: 7px;
        margin-bottom: 21px;
    }
    main .musthave .tags {
        padding-bottom: 20px;
        text-align: center;
    }
    main .musthave .tags input[type=radio] {
        display: none;
    }
    main .musthave .tags .taglabel {
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        padding-top: 6px;
        font-size: 13px;
        margin: 0 17px 3px;
        line-height: 19px;
        border-bottom: 1px dotted #753a80;
    }
    main .musthave .tags input[type=radio]:checked+.taglabel {
        color: #753a80;
        width: auto;
        line-height: 29px;
        padding: 0 16px;
        margin: 0;
        height: 29px;
        border-radius: 3px;
        border: 1px solid #753a80;
    }
    main .musthave .lots {
        height: 480px;
    }
    main .musthave .lots .bx-controls {

    }
    main .musthave .lots .bx-controls .bx-next, main .musthave .lots .bx-controls .bx-prev {
        background: url(../images/arrow.svg) 50% 50%/13px auto no-repeat;
        position: absolute;
        top: 50%;
        pointer-events: all;
        width: 13px;
        height: 25px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        margin-top: -12px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    main .musthave .lots .bx-controls .bx-prev {
        left: -30px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    main .musthave .lots .bx-controls .bx-next {
        right: -30px;
    }
    main .musthave .lots .bx-controls .bx-next:hover, main .musthave .lots .bx-controls .bx-prev:hover {
        -webkit-filter: none;
        filter: none;
    }
    main .musthave .lots .lotsslider {
        padding-top: 20px;
        height: 480px;
    }
    main .musthave .lots .lotsslider li {
        height: 480px;
	/*width:240px !important;*/
    }
    main .musthave .lots .lotsslider li .shade {
        width: 210px;
        height: 430px;
        overflow: hidden;
	margin:0 auto;
    }
    main .musthave .lots .lotsslider li .shade .image {
        width: 190px;
        margin: 50px auto 0;
        height: 190px;
        position: relative;
    }
    main .musthave .lots .lotsslider li .shade .image .lotimage {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0 auto;
        max-width: 190px;
        max-height: 190px;
    }
    main .musthave .lots .lotsslider li .shade .describtion {
        padding-top: 10px;
    }
    main .musthave .lots .lotsslider li .shade .describtion h4 {
        text-align: center;
        color: #753a80;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    main .musthave .lots .lotsslider li .shade .describtion p {
        margin: 0 auto;
        width: 160px;
        text-align: center;
        line-height: 16px;
        font-size: 13px;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy {
        padding-top: 12px;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy .price {
        text-align: center;
        font-weight: 700;
        color: #753a80;
        font-size: 14px;
        margin-bottom: 15px;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy .buy {
        margin: 0 auto;
        width: 150px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 2px;
        background: #753a80;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy .buy:hover {
        background: #895b91;
    }
    main .musthave .lots .lotsslider li .shade .fav {
        position: absolute;
        left: 60px;
        top: 15px;
        cursor: pointer;
        height: 34px;
        width: 35px;
        background: url(../images/diamond.svg) 100% 50%/auto 34px no-repeat;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .2;
    }
    main .musthave .lots .lotsslider li .shade .fav.active {
        background-position: 0 50%;
        opacity: 1;
        -webkit-filter: none;
        filter: none;
    }
    main .musthave .lots .lotsslider li .shade .labels {
        position: absolute;
        right: 60px;
        top: 15px;
        text-align: right;
    }
    main .musthave .lots .lotsslider li .shade .labels .label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin: 0 1px;
        cursor: pointer;
    }
    main .musthave .lots .lotsslider li .shade .labels .hit {
    background: url(../images/hit.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .sale {
        background: url(../images/sale.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .must {
        background: url(../images/must.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .new {
        background: url(../images/new.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .thunder {
        background: url(../images/thunder.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .procent {
        background: url(../images/procent.svg) 50% 50%/34px auto no-repeat;
    }
    main .secondoffers {
        position: relative;
        width: 300px;
        margin: 0 auto;
    }
    main .secondoffers .offer {
        height: 450px;
        width: 100%;
        padding: 160px 23px 0;
        text-align: center;
        box-sizing: border-box;
        margin-bottom: 10px;
        color: #fff;
    }
    main .secondoffers .offer h2 {
        text-align: center;
        font-weight: 700;
        letter-spacing: 6px;
        font-size: 21px;
        margin-bottom: 16px;
    }
    main .secondoffers .offer p {
        text-align: center;
        padding: 0 20px;
        font-size: 18px;
        margin-bottom: 95px;
    }
    main .secondoffers .offer .look {
        width: 148px;
        font-size: 12px;
        border-radius: 3px;
        height: 29px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        display: inline-block;
        line-height: 28px;
        background: #753a80;
    }
    main .secondoffers .offer .look:hover {
        background: #895b91;
    }
    main .secondoffers .offer1 {
        background: url(../images/secondoffer1.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer2 {
        background: url(../images/secondoffer2.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer5 {
        margin-top: 10px;
        background: url(../images/secondoffer5.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .bx-controls {

    }
    main .secondoffers .bx-controls .bx-next, main .secondoffers .bx-controls .bx-prev {
        background: url(../images/arrowwhite.svg) 50% 50%/13px auto no-repeat;
        position: absolute;
        top: 50%;
        pointer-events: all;
        width: 13px;
        height: 24px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        margin-top: -12px;
    }
    main .secondoffers .bx-controls .bx-prev {
        left: 10px;
    }
    main .secondoffers .bx-controls .bx-next {
        right: 10px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    main .secondoffers .secondoffersslider {
        height: 450px;
    }
    main .secondoffers .secondoffersslider .bxoffer {
        height: 450px;
        text-align: center;
        padding: 160px 23px 0;
        box-sizing: border-box;
        color: #fff;
    }
    main .secondoffers .secondoffersslider .bxoffer h2 {
        text-align: center;
        font-weight: 700;
        letter-spacing: 6px;
        font-size: 21px;
        margin-bottom: 16px;
    }
    main .secondoffers .secondoffersslider .bxoffer p {
        text-align: center;
        padding: 0 20px;
        font-size: 18px;
        margin-bottom: 95px;
    }
    main .secondoffers .secondoffersslider .bxoffer .look {
        width: 148px;
        font-size: 12px;
        border-radius: 3px;
        height: 29px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        display: inline-block;
        line-height: 28px;
        background: #753a80;
    }
    main .secondoffers .secondoffersslider .bxoffer .look:hover {
        background: #895b91;
    }
    main .secondoffers .secondoffersslider .bxoffer1 {
        background: url(../images/secondoffer3.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .secondoffersslider .bxoffer2 {
        background: url(../images/secondoffer4.jpg) 50% 50%/cover no-repeat;
    }
}
@media (min-width:1000px) and (max-width:1499px) {
    main .mainoffers .offer p, main .secondoffers .offer p {
        font-family: PTSerif, Arial, Verdana, sans-serif;
        font-style: italic;
    }
    main .mainoffers {
        padding-top: 24px;
        padding-bottom: 30px;
        overflow: hidden;
        width: 996px;
        margin-left: -7px;
        text-align: center;
    }
    main .mainoffers .offer {
        display: inline-block;
        margin: 6px;
        width: 320px;
        height: 452px;
        box-sizing: border-box;
        float: left;
        text-align: right;
    }
    main .mainoffers .offer h2 {
        text-align: right;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 6px;
        margin-bottom: 5px;
    }
    main .mainoffers .offer p {
        text-align: right;
        font-size: 18px;
        margin-bottom: 42px;
    }
    main .mainoffers .offer .look {
        width: 148px;
        font-size: 12px;
        border-radius: 3px;
        height: 29px;
        color: #fff;
        text-align: center;
        display: inline-block;
        line-height: 28px;
        background: #753a80;
    }
    main .mainoffers .offer .look:hover {
        background: #895b91;
    }
    main .mainoffers .offer.wide {
        width: 652px;
    }
    main .mainoffers .offer1 {
        color: #753a80;
        padding: 275px 36px 0;
        background: url(../images/offer1.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer2 {
        color: #fff;
        padding: 34px 24px 0;
        background: url(../images/offer2.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer3 {
        color: #fff;
        padding: 237px 32px 0;
        background: url(../images/offer3.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer4 {
        color: #fff;
        padding: 41px 27px 0;
        background: url(../images/offer4.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer5 {
        padding-top: 342px;
        color: #fff;
        text-align: center;
        background: url(../images/offer5.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer5 h2, main .mainoffers .offer5 p {
        text-align: center;
    }
    main .mainoffers .offer6 {
        text-align: center;
        padding-top: 308px;
        color: #fff;
        background: url(../images/offer6.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer6 h2, main .mainoffers .offer6 p {
        text-align: center;
    }
    main .mainoffers .offer7 {
        color: #753a80;
        box-sizing: border-box;
        border: 3px solid #753a80;
        padding-top: 45px;
    }
    main .mainoffers .offer7 h2 {
        text-align: center;
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 20px;
        padding: 0 20px;
    }
    main .mainoffers .offer7 p {
        text-align: center;
        padding: 0 40px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    main .mainoffers .offer7 form {
        position: relative;
        padding-top: 74px;
    }
    main .mainoffers .offer7 form::before {
        content: '';
        position: absolute;
        width: 39px;
        top: 7px;
        left: 50%;
        margin-left: -21px;
        height: 26px;
        background: url(../images/mail.svg) 50% 50%/39px auto no-repeat;
    }
    main .mainoffers .offer7 form .subscribeinput {
        border-radius: 3px;
        width: 189px;
        height: 29px;
        display: block;
        line-height: 29px;
        box-sizing: border-box;
        padding-left: 14px;
        margin: 0 auto 20px;
        border: 1px solid #ababab;
    }
    main .mainoffers .offer7 form .subscribesubmit {
        width: 189px;
        height: 29px;
        cursor: pointer;
        border-radius: 3px;
        background: #753a80;
        color: #fff;
        font-size: 13px;
        text-align: center;
        border: 0;
        margin: 0 auto;
        display: block;
    }
    main .mainoffers .offer7 form .subscribesubmit:hover {
        background: #895b91;
    }
    main .musthave {
        padding-top: 30px;
    }
    main .musthave h2 {
        color: #753a80;
        text-align: center;
        font-size: 28px;
        letter-spacing: 7px;
        margin-bottom: 21px;
    }
    main .musthave .tags {
        padding-bottom: 20px;
        text-align: center;
    }
    main .musthave .tags input[type=radio] {
        display: none;
    }
    main .musthave .tags .taglabel {
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        padding-top: 6px;
        font-size: 13px;
        margin: 0 17px;
        line-height: 19px;
        border-bottom: 1px dotted #753a80;
    }
    main .musthave .tags input[type=radio]:checked+.taglabel {
        color: #753a80;
        width: auto;
        line-height: 29px;
        padding: 0 16px;
        margin: 0;
        height: 29px;
        border-radius: 3px;
        border: 1px solid #753a80;
    }
    main .musthave .lots {
        height: 480px;
    }
    main .musthave .lots .bx-controls {
    }
    main .musthave .lots .bx-controls .bx-next, main .musthave .lots .bx-controls .bx-prev {
        background: url(../images/arrow.svg) 50% 50%/13px auto no-repeat;
        position: absolute;
        pointer-events: all;
        width: 13px;
        height: 25px;
        text-indent: 100%;
        white-space: nowrap;
        margin-top: -12px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    main .musthave .lots .bx-controls .bx-prev {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    main .musthave .lots .bx-controls .bx-next {

    }
    main .musthave .lots .bx-controls .bx-next:hover, main .musthave .lots .bx-controls .bx-prev:hover {
        -webkit-filter: none;
        filter: none;
    }
    main .musthave .lots .lotsslider {
        padding-top: 20px;
        height: 480px;
    }
    main .musthave .lots .lotsslider li {
        height: 480px;
        /*width:240px !important;*/
    }
    main .musthave .lots .lotsslider li .shade {
        width: 210px;
        height: 430px;
        overflow: hidden;

    }
    main .musthave .lots .lotsslider li .shade .image {
        width: 190px;
        margin: 50px auto 0;
        height: 190px;
        position: relative;
    }
    main .musthave .lots .lotsslider li .shade .image .lotimage {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0 auto;
        max-width: 190px;
        max-height: 190px;
    }
    main .musthave .lots .lotsslider li .shade .describtion {
        padding-top: 10px;
    }
    main .musthave .lots .lotsslider li .shade .describtion h4 {
        text-align: center;
        color: #753a80;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    main .musthave .lots .lotsslider li .shade .describtion p {
        margin: 0 auto;
        width: 160px;
        text-align: center;
        line-height: 16px;
        font-size: 13px;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy {
        padding-top: 12px;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy .price {
        text-align: center;
        font-weight: 700;
        color: #753a80;
        font-size: 14px;
        margin-bottom: 15px;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy .buy {
        margin: 0 auto;
        width: 150px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 2px;
        background: #753a80;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy .buy:hover {
        background: #895b91;
    }
    main .musthave .lots .lotsslider li .shade .fav {
        position: absolute;
        left: 5px;
        top: 15px;
        display: none;
        cursor: pointer;
        height: 34px;
        width: 35px;
        background: url(../images/diamond.svg) 100% 50%/auto 34px no-repeat;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .2;
    }
    main .musthave .lots .lotsslider li .shade .fav.active {
        background-position: 0 50%;
        opacity: 1;
        -webkit-filter: none;
        filter: none;
    }
    main .musthave .lots .lotsslider li .shade .labels {
        display: none;
        position: absolute;
        right: 35px;
        top: 15px;
        text-align: right;
    }
    main .musthave .lots .lotsslider li .shade .labels .label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin: 0 1px;
        cursor: pointer;
    }
    main .musthave .lots .lotsslider li .shade .labels .hit {
    background: url(../images/hit.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .sale {
        background: url(../images/sale.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .must {
        background: url(../images/must.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .new {
        background: url(../images/new.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .thunder {
        background: url(../images/thunder.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .procent {
        background: url(../images/procent.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .pricebuy {
        display: none;
    }
    main .musthave .lots .lotsslider .shade:hover .fav, main .musthave .lots .lotsslider .shade:hover .labels, main .musthave .lots .lotsslider li .shade:hover .pricebuy {
        display: block;
    }
    main .musthave .lots .lotsslider .shade:hover {
        z-index: 10;
        box-shadow: 3px 8px 28px 0 rgba(0, 0, 0, .2);
    }
    main .musthave .lots .lotsslider .shade:hover .describtion p {
        text-decoration: underline;
    }
    main .secondoffers {
        padding-top: 24px;
        padding-bottom: 111px;
        overflow: hidden;
        width: 996px;
        margin-left: -7px;
        text-align: center;
    }
    main .secondoffers .offer {
        display: inline-block;
        margin: 6px;
        width: 320px;
        text-align: center;
        height: 452px;
        box-sizing: border-box;
        float: left;
    }
    main .secondoffers .offer h2 {
        text-align: center;
        font-weight: 700;
        letter-spacing: 6px;
        font-size: 21px;
        margin-bottom: 16px;
    }
    main .secondoffers .offer p {
        text-align: center;
        padding: 0 20px;
        font-size: 18px;
        margin-bottom: 95px;
    }
    main .secondoffers .offer .look {
        width: 148px;
        font-size: 12px;
        border-radius: 3px;
        height: 29px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        display: inline-block;
        line-height: 28px;
        background: #753a80;
    }
    main .secondoffers .offer3 p, main .secondoffers .offer4 p, main .secondoffers .offer5 p {
        margin-bottom: 119px;
    }
    main .secondoffers .offer .look:hover {
        background: #895b91;
    }
    main .secondoffers .offer.wide {
        width: 652px;
    }
    main .secondoffers .offer1 {
        padding: 160px 347px 0 20px;
        color: #fff;
        background: url(../images/secondoffer1.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer2 {
        color: #fff;
        padding: 160px 35px 0;
        background: url(../images/secondoffer2.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer3 {
        color: #fff;
        padding: 160px 20px 0;
        background: url(../images/secondoffer3.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer4 {
        color: #fff;
        padding: 160px 20px 0;
        background: url(../images/secondoffer4.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer5 {
        padding: 160px 20px 0;
        color: #fff;
        background: url(../images/secondoffer5.jpg) 50% 50%/cover no-repeat;
    }
}
@media (min-width:1500px) {
    main .mainoffers .offer p, main .secondoffers .offer p {
        font-family: PTSerif, Arial, Verdana, sans-serif;
        font-style: italic;
    }
    main .mainoffers {
        padding-top: 13px;
        padding-bottom: 30px;
        overflow: hidden;
        width: 1510px;
        margin-left: -10px;
        text-align: center;
    }
    main .mainoffers .offer {
        display: inline-block;
        margin: 10px;
        width: 480px;
        height: 450px;
        box-sizing: border-box;
        float: left;
        text-align: right;
    }
    main .mainoffers .offer h2 {
        text-align: right;
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 6px;
        margin-bottom: 5px;
    }
    main .mainoffers .offer p {
        text-align: right;
        font-size: 18px;
        margin-bottom: 42px;
    }
    main .mainoffers .offer .look {
        width: 148px;
        font-size: 12px;
        border-radius: 3px;
        height: 29px;
        color: #fff;
        text-align: center;
        display: inline-block;
        line-height: 28px;
        background: #753a80;
    }
    main .mainoffers .offer .look:hover {
        background: #895b91;
    }
    main .mainoffers .offer.wide {
        width: 980px;
    }
    main .mainoffers .offer1 {
        color: #753a80;
        padding: 275px 45px 0;
        background: url(../images/offer1.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer2 {
        color: #fff;
        padding: 34px 45px 0;
        background: url(../images/offer2.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer3 {
        color: #fff;
        padding: 237px 31px 0;
        background: url(../images/offer3.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer4 {
        color: #fff;
        padding: 41px 51px 0;
        background: url(../images/offer4.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer5 {
        padding-top: 342px;
        color: #fff;
        text-align: center;
        background: url(../images/offer5.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer5 h2, main .mainoffers .offer5 p {
        text-align: center;
    }
    main .mainoffers .offer6 {
        text-align: center;
        padding-top: 308px;
        color: #fff;
        background: url(../images/offer6.jpg) 50% 50%/cover no-repeat;
    }
    main .mainoffers .offer6 h2, main .mainoffers .offer6 p {
        text-align: center;
    }
    main .mainoffers .offer7 {
        color: #753a80;
        border: 3px solid #753a80;
        padding-top: 58px;
    }
    main .mainoffers .offer7 h2 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 26px;
    }
    main .mainoffers .offer7 p {
        text-align: center;
        padding: 0 60px;
        line-height: 22px;
    }
    main .mainoffers .offer7 form {
        position: relative;
        padding-top: 74px;
    }
    main .mainoffers .offer7 form::before {
        content: '';
        position: absolute;
        width: 39px;
        top: 7px;
        left: 50%;
        margin-left: -21px;
        height: 26px;
        background: url(../images/mail.svg) 50% 50%/39px auto no-repeat;
    }
    main .mainoffers .offer7 form .subscribeinput {
        border-radius: 3px;
        width: 250px;
        height: 29px;
        display: block;
        line-height: 29px;
        box-sizing: border-box;
        padding-left: 14px;
        margin: 0 auto 20px;
        border: 1px solid #ababab;
    }
    main .mainoffers .offer7 form .subscribesubmit {
        width: 250px;
        height: 29px;
        cursor: pointer;
        border-radius: 3px;
        background: #753a80;
        color: #fff;
        font-size: 13px;
        text-align: center;
        border: 0;
        margin: 0 auto;
        display: block;
    }
    main .mainoffers .offer7 form .subscribesubmit:hover {
        background: #895b91;
    }
    main .musthave {
        padding-top: 30px;
    }
    main .musthave h2 {
        color: #753a80;
        text-align: center;
        font-size: 28px;
        letter-spacing: 7px;
        margin-bottom: 21px;
    }
    main .musthave .tags {
        padding-bottom: 20px;
        text-align: center;
    }
    main .musthave .tags input[type=radio] {
        display: none;
    }
    main .musthave .tags .taglabel {
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        padding-top: 6px;
        font-size: 13px;
        margin: 0 17px;
        line-height: 19px;
        border-bottom: 1px dotted #753a80;
    }
    main .musthave .tags input[type=radio]:checked+.taglabel {
        color: #753a80;
        width: auto;
        line-height: 29px;
        padding: 0 16px;
        margin: 0;
        height: 29px;
        border-radius: 3px;
        border: 1px solid #753a80;
    }
    main .musthave .lots {
        height: 480px;
    }
    main .musthave .lots .bx-controls {

    }
    main .musthave .lots .bx-controls .bx-next, main .musthave .lots .bx-controls .bx-prev {
        background: url(../images/arrow.svg) 50% 50%/13px auto no-repeat;
        position: absolute;
        pointer-events: all;
        width: 13px;
        height: 25px;
        text-indent: 100%;
        white-space: nowrap;
        margin-top: -12px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    main .musthave .lots .bx-controls .bx-prev {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    main .musthave .lots .bx-controls .bx-next {
    }
    main .musthave .lots .bx-controls .bx-next:hover, main .musthave .lots .bx-controls .bx-prev:hover {
        -webkit-filter: none;
        filter: none;
    }
    main .musthave .lots .lotsslider {
        padding-top: 20px;
        height: 480px;
    }
    main .musthave .lots .lotsslider li {
        height: 480px;
        /*width:240px !important;*/
    }
    main .musthave .lots .lotsslider li .shade {
        width: 210px;
        height: 430px;
        overflow: hidden;

    }
    main .musthave .lots .lotsslider li .shade .image {
        width: 190px;
        margin: 50px auto 0;
        height: 190px;
        position: relative;
    }
    main .musthave .lots .lotsslider li .shade .image .lotimage {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0 auto;
        max-width: 190px;
        max-height: 190px;
    }
    main .musthave .lots .lotsslider li .shade .describtion {
        padding-top: 10px;
    }
    main .musthave .lots .lotsslider li .shade .describtion h4 {
        text-align: center;
        color: #753a80;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    main .musthave .lots .lotsslider li .shade .describtion p {
        margin: 0 auto;
        width: 160px;
        text-align: center;
        line-height: 16px;
        font-size: 13px;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy {
        padding-top: 12px;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy .price {
        text-align: center;
        font-weight: 700;
        color: #753a80;
        font-size: 14px;
        margin-bottom: 15px;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy .buy {
        margin: 0 auto;
        width: 150px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        border-radius: 2px;
        background: #753a80;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
    }
    main .musthave .lots .lotsslider li .shade .describtion .pricebuy .buy:hover {
        background: #895b91;
    }
    main .musthave .lots .lotsslider li .shade .fav {
        position: absolute;
        left: 5px;
        top: 15px;
        display: none;
        cursor: pointer;
        height: 34px;
        width: 35px;
        background: url(../images/diamond.svg) 100% 50%/auto 34px no-repeat;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .2;
    }
    main .musthave .lots .lotsslider li .shade .fav.active {
        background-position: 0 50%;
        opacity: 1;
        -webkit-filter: none;
        filter: none;
    }
    main .musthave .lots .lotsslider li .shade .labels {
        display: none;
        position: absolute;
        right: 35px;
        top: 15px;
        text-align: right;
    }
    main .musthave .lots .lotsslider li .shade .labels .label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin: 0 1px;
        cursor: pointer;
    }
    main .musthave .lots .lotsslider li .shade .labels .hit {
    background: url(../images/hit.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .sale {
        background: url(../images/sale.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .must {
        background: url(../images/must.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .new {
        background: url(../images/new.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .thunder {
        background: url(../images/thunder.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .labels .procent {
        background: url(../images/procent.svg) 50% 50%/34px auto no-repeat;
    }
    main .musthave .lots .lotsslider li .shade .pricebuy {
        display: none;
    }
    main .musthave .lots .lotsslider .shade:hover .fav, main .musthave .lots .lotsslider .shade:hover .labels, main .musthave .lots .lotsslider li .shade:hover .pricebuy {
        display: block;
    }
    main .musthave .lots .lotsslider .shade:hover {
        z-index: 10;
        box-shadow: 3px 8px 28px 0 rgba(0, 0, 0, .2);
    }
    main .musthave .lots .lotsslider .shade:hover .describtion p {
        text-decoration: underline;
    }
    main .secondoffers {
        padding-top: 13px;
        padding-bottom: 112px;
        overflow: hidden;
        width: 1510px;
        margin-left: -10px;
        text-align: center;
    }
    main .secondoffers .offer {
        display: inline-block;
        margin: 10px;
        width: 480px;
        height: 450px;
        box-sizing: border-box;
        float: left;
        text-align: center;
    }
    main .secondoffers .offer h2 {
        text-align: center;
        font-weight: 700;
        letter-spacing: 6px;
        font-size: 21px;
        margin-bottom: 16px;
    }
    main .secondoffers .offer p {
        text-align: center;
        padding: 0 20px;
        font-size: 18px;
        margin-bottom: 95px;
    }
    main .secondoffers .offer .look {
        width: 148px;
        font-size: 12px;
        border-radius: 3px;
        height: 29px;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        display: inline-block;
        line-height: 28px;
        background: #753a80;
    }
    main .secondoffers .offer3 p, main .secondoffers .offer4 p, main .secondoffers .offer5 p {
        margin-bottom: 119px;
    }
    main .secondoffers .offer .look:hover {
        background: #895b91;
    }
    main .secondoffers .offer.wide {
        width: 980px;
    }
    main .secondoffers .offer1 {
        padding: 160px 680px 0 20px;
        color: #fff;
        background: url(../images/secondoffer1.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer2 {
        color: #fff;
        padding: 160px 115px 0;
        background: url(../images/secondoffer2.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer3 {
        color: #fff;
        padding: 160px 60px 0;
        background: url(../images/secondoffer3.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer4 {
        color: #fff;
        padding: 160px 0px 0;
        background: url(../images/secondoffer4.jpg) 50% 50%/cover no-repeat;
    }
    main .secondoffers .offer5 {
        padding: 160px 0px 0;
        color: #fff;
        background: url(../images/secondoffer5.jpg) 50% 50%/cover no-repeat;
    }
}

.bx-controls-direction{
    position: relative !important;
}

.bx-controls-direction a{
    top:-300px;
}

.bx-controls-direction .bx-prev{
    left: 0 ;
}


.bx-controls-direction .bx-next{
    right: 0 ;
}

.bx-controls-direction .disabled{
    display: none !important;
}