:link,
:visited
{
    text-decoration: none;

    color: inherit;
}
ul,
ol
{
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code
{
    font-size: 1em;
}
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
p,
blockquote,
fieldset,
input
{
    margin: 0;
    padding: 0;
}
a img,
:link img,
:visited img
{
    border: none;
}
address
{
    font-style: normal;
}
input,
select,
textarea
{
    border-radius: 0;
}
input:focus,
input:active,
select:focus,
textarea:focus
{
    outline: none;
}
select
{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
@font-face
{
    font-family: PTSerif;
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/PTSerifRegular/PTSerifRegular.eot);
    src: url(../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix) format('embedded-opentype'), url(../fonts/PTSerifRegular/PTSerifRegular.woff) format('woff'), url(../fonts/PTSerifRegular/PTSerifRegular.ttf) format('truetype');
}
@font-face
{
    font-family: PTSerif;
    font-weight: 700;
    font-style: italic;

    src: url(../fonts/PTSerifBoldItalic/PTSerifBoldItalic.eot);
    src: url(../fonts/PTSerifBoldItalic/PTSerifBoldItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/PTSerifBoldItalic/PTSerifBoldItalic.woff) format('woff'), url(../fonts/PTSerifBoldItalic/PTSerifBoldItalic.ttf) format('truetype');
}
@font-face
{
    font-family: PTSerif;
    font-weight: 400;
    font-style: italic;

    src: url(../fonts/PTSerifItalic/PTSerifItalic.eot);
    src: url(../fonts/PTSerifItalic/PTSerifItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/PTSerifItalic/PTSerifItalic.woff) format('woff'), url(../fonts/PTSerifItalic/PTSerifItalic.ttf) format('truetype');
}
@font-face
{
    font-family: PTSerif;
    font-weight: 700;
    font-style: normal;

    src: url(../fonts/PTSerifBold/PTSerifBold.eot);
    src: url(../fonts/PTSerifBold/PTSerifBold.eot?#iefix) format('embedded-opentype'), url(../fonts/PTSerifBold/PTSerifBold.woff) format('woff'), url(../fonts/PTSerifBold/PTSerifBold.ttf) format('truetype');
}
@font-face
{
    font-family: PTSans;
    font-weight: 400;
    font-style: normal;

    src: url(../fonts/PTSansRegular/PTSansRegular.eot);
    src: url(../fonts/PTSansRegular/PTSansRegular.eot?#iefix) format('embedded-opentype'), url(../fonts/PTSansRegular/PTSansRegular.woff) format('woff'), url(../fonts/PTSansRegular/PTSansRegular.ttf) format('truetype');
}
@font-face
{
    font-family: PTSans;
    font-weight: 400;
    font-style: italic;

    src: url(../fonts/PTSansItalic/PTSansItalic.eot);
    src: url(../fonts/PTSansItalic/PTSansItalic.eot?#iefix) format('embedded-opentype'), url(../fonts/PTSansItalic/PTSansItalic.woff) format('woff'), url(../fonts/PTSansItalic/PTSansItalic.ttf) format('truetype');
}
@font-face
{
    font-family: PTSans;
    font-weight: 700;
    font-style: normal;

    src: url(../fonts/PTSansBold/PTSansBold.eot);
    src: url(../fonts/PTSansBold/PTSansBold.eot?#iefix) format('embedded-opentype'), url(../fonts/PTSansBold/PTSansBold.woff) format('woff'), url(../fonts/PTSansBold/PTSansBold.ttf) format('truetype');
}
/* 
    блок переменных
 */
[class$=_uc]
{
    text-transform: uppercase;
}
.wrapper
{
    /*position: relative;*/
    right: 0;
    left: 0;

    margin: 0 auto;
}
main
{
    position: relative;

    overflow: hidden;

    width: 100%;
}
header
{
    position: relative;

    /*overflow: hidden;*/

    width: 100%;
}
footer
{
    position: relative;

    overflow: hidden;

    width: 100%;
}
textarea
{
    font-family: 'PTSans', 'Arial', 'Verdana', sans-serif;
}
input
{
    font-family: 'PTSans', 'Arial', 'Verdana', sans-serif;
}
.uc
{
    text-transform: uppercase;
}
body
{
    font-family: 'PTSans', 'Arial', 'Verdana', sans-serif;

    position: relative;
}
input[type=submit]
{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.s,
.m,
.f
{
    display: none;
}
input[type='text']::-webkit-input-placeholder
{
    font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
    font-style: italic;

    color: #9c9c9c;
}
input[type='text']::-moz-placeholder
{
    font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
    font-style: italic;

    color: #9c9c9c;
}
/* Firefox 19+ */
input[type='text']:-moz-placeholder
{
    font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
    font-style: italic;

    color: #9c9c9c;
}
/* Firefox 18- */
input[type='text']:-ms-input-placeholder
{
    font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
    font-style: italic;

    color: #9c9c9c;
}
textarea::-webkit-input-placeholder
{
    font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
    font-style: italic;

    color: #9c9c9c;
}
textarea::-moz-placeholder
{
    font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
    font-style: italic;

    color: #9c9c9c;
}
/* Firefox 19+ */
textarea:-moz-placeholder
{
    font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
    font-style: italic;

    color: #9c9c9c;
}
/* Firefox 18- */
textarea:-ms-input-placeholder
{
    font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
    font-style: italic;

    color: #9c9c9c;
}
textarea:focus::-webkit-input-placeholder
{
    color: #9c9c9c;
}
textarea:focus::-moz-placeholder
{
    color: #9c9c9c;
}
/* Firefox 19+ */
textarea:focus:-moz-placeholder
{
    color: #9c9c9c;
}
/* Firefox 18- */
textarea:focus:-ms-input-placeholder
{
    color: #9c9c9c;
}
input[type='text']:focus::-webkit-input-placeholder
{
    color: #9c9c9c;
}
input[type='text']:focus::-moz-placeholder
{
    color: #9c9c9c;
}
/* Firefox 19+ */
input[type='text']:focus:-moz-placeholder
{
    color: #9c9c9c;
}
/* Firefox 18- */
input[type='text']:focus:-ms-input-placeholder
{
    color: #9c9c9c;
}
input[type='text'].tel::-webkit-input-placeholder
{
    font-style: normal;
}
input[type='text'].tel::-moz-placeholder
{
    font-style: normal;
}
/* Firefox 19+ */
input[type='text'].tel:-moz-placeholder
{
    font-style: normal;
}
/* Firefox 18- */
input[type='text'].tel:-ms-input-placeholder
{
    font-style: normal;
}
input[type='text'].empty::-webkit-input-placeholder
{
    color: #f71e39;
}
input[type='text'].empty::-moz-placeholder
{
    color: #f71e39;
}
/* Firefox 19+ */
input[type='text'].empty:-moz-placeholder
{
    color: #f71e39;
}
/* Firefox 18- */
input[type='text'].empty:-ms-input-placeholder
{
    color: #f71e39;
}
textarea.empty::-webkit-input-placeholder
{
    color: #f71e39;
}
textarea.empty::-moz-placeholder
{
    color: #f71e39;
}
/* Firefox 19+ */
textarea.empty:-moz-placeholder
{
    color: #f71e39;
}
/* Firefox 18- */
textarea.empty:-ms-input-placeholder
{
    color: #f71e39;
}
@media all and (max-width: 999px)
{
    .wrapper
    {
        width: 100%;
        min-width: 320px;
    }
    main
    {
        min-width: 320px;
    }
    .s
    {
        display: block;
    }
    header
    {
        min-width: 320px;
    }
    header .navigation
    {
        height: 37px;

        color: #fff;
        background: #000;
    }
    header .navigation .cityselect
    {
        font-size: 13px;
        line-height: 35px;

        position: relative;

        display: inline-block;
        float: left;

        height: 26px;
        margin-left: 19px;

        cursor: pointer;
        text-align: center;

        border-bottom: 1px dotted white;
    }
    header .navigation .cityselect:hover
    {
        opacity: .9;
    }
    header .navigation .cityselect::after
    {
        position: absolute;
        top: 18px;
        right: -13px;

        display: block;

        content: '';

        border-width: 3px 3px 0;
        border-style: solid;
        border-color: transparent;
        border-top-color: white;
    }
    header .navigation .search
    {
        font-size: 12px;
        line-height: 31px;

        position: relative;

        display: inline-block;
        float: right;

        width: 0;
        height: 0;
        margin-left: 10px;

        cursor: pointer;
        text-indent: 100%;

        border-bottom: 1px dotted white;
    }
    header .navigation .search::after
    {
        position: absolute;
        top: 12px;
        right: 23px;

        display: block;

        width: 15px;
        height: 15px;

        content: '';

        background: url('../../img/search.svg') 50% 50% no-repeat / 15px 15px;
    }
    header .catalog-status
    {
        padding-bottom: 20px;
    }
    header .catalog-status .wrapper
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    header .catalog-status::after
    {
        display: block;
        clear: both;

        content: '';
    }
    header .catalog-status .hamburger
    {
        width: 22px;
        height: 23px;
        margin-top: 47px;
        margin-left: 19px;

        background: url('../../img/hamburger.svg') 50% 50% no-repeat / 19px auto;
    }
    header .catalog-status .logo
    {
        width: 113px;
        height: 79px;
        margin-top: 28px;

        background: url('../../img/logo.svg') 50% 50% no-repeat / auto 79px;
    }
    header .catalog-status .userinfo .cart
    {
        position: relative;

        width: 20px;
        height: 26px;
        margin-top: 45px;
        margin-right: 23px;

        background: url('../../img/bag.svg') 100% 50% no-repeat / auto 26px;
    }
    header .catalog-status .userinfo .cart .total
    {
        color: transparent;
    }
    header .catalog-status .userinfo .cart .goods
    {
        color: transparent;
    }
    header .catalog-status .userinfo .cart .count
    {
        font-size: 10px;
        font-weight: 700;
        line-height: 17px;

        position: absolute;
        top: -5px;
        right: -8px;

        display: block;

        width: 17px;
        height: 17px;

        text-align: center;

        color: #fff;
        border-radius: 50%;
        background: #753a80;
    }
    footer
    {
        min-width: 320px;
        padding-top: 34px;

        color: #fff;
        background: #753a80;
    }
    footer .subscribesocial
    {
        width: calc(90%);
        margin: 0 auto;
    }
    footer .subscribesocial::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .subscribesocial .social
    {
        padding-left: 3px;
    }
    footer .subscribesocial .social p
    {
        font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
        font-size: 14px;
        font-style: italic;
        line-height: 16px;

        clear: both;

        width: 203px;
        padding-top: 22px;
    }
    footer .subscribesocial .social .socialbutton
    {
        float: left;

        width: 30px;
        height: 30px;
        margin: 8px 18px 0 0;
    }
    footer .subscribesocial .social .socialbutton:hover
    {
        opacity: .5;
    }
    footer .subscribesocial .social .socialbutton.ig
    {
        background: url('../../img/ig.svg') 50% 50% no-repeat / 30px auto;
    }
    footer .subscribesocial .social .socialbutton.vk
    {
        background: url('../../img/vk.svg') 50% 50% no-repeat / 30px auto;
    }
    footer .subscribesocial .social .socialbutton.fb
    {
        background: url('../../img/fb.svg') 50% 50% no-repeat / 30px auto;
    }
    footer .subscribesocial .subscribe
    {
        padding-top: 39px;
    }
    footer .subscribesocial .subscribe form
    {
        position: relative;

        float: left;

        padding-left: 3px;
    }
    footer .subscribesocial .subscribe form .subscribelabel
    {
        font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
        font-size: 14px;
        font-style: italic;
        line-height: 15px;

        display: block;

        width: 300px;
        padding-top: 3px;

        cursor: pointer;
    }
    footer .subscribesocial .subscribe form input[type=text]
    {
        line-height: 48px;

        display: block;
        float: left;

        box-sizing: border-box;
        width: 278px;
        height: 48px;
        margin-bottom: 24px;
        padding-left: 16px;

        border: none;
        background: #fff;
    }
    footer .subscribesocial .subscribe form input[type=submit]
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;

        position: absolute;
        top: 8px;
        left: 237px;

        display: block;

        cursor: pointer;
        text-align: center;
        letter-spacing: 3px;

        color: #753a80;
        border: none;
        background: transparent;
    }
    footer .cataloglinks
    {
        padding-top: 53px;
        padding-bottom: 25px;
        padding-left: 23px;
    }
    footer .cataloglinks::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .cataloglinks .section
    {
        float: left;

        width: 150px;
    }
    footer .cataloglinks .section p
    {
        font-size: 14px;
        font-weight: 700;

        margin-bottom: 15px;

        letter-spacing: 3px;
    }
    footer .cataloglinks .section ul li
    {
        font-size: 14px;
        line-height: 21px;

        height: 19px;
    }
    footer .cataloglinks .section ul li:hover
    {
        text-decoration: underline;
    }
    footer .navigationlinks
    {
        padding-top: 10px;
        padding-bottom: 23px;
    }
    footer .navigationlinks::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .navigationlinks .mainnavigation
    {
        float: left;

        width: 154px;
        padding-left: 20px;
    }
    footer .navigationlinks .mainnavigation ul li
    {
        font-size: 14px;

        height: 32px;
    }
    footer .navigationlinks .mainnavigation ul li:hover
    {
        text-decoration: underline;
    }
    footer .navigationlinks .othernavigation
    {
        float: left;

        width: 130px;
    }
    footer .navigationlinks .othernavigation::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .navigationlinks .othernavigation ul li
    {
        font-size: 14px;

        height: 32px;
    }
    footer .navigationlinks .othernavigation ul li:hover
    {
        text-decoration: underline;
    }
    footer .navigationlinks .logo
    {
        width: 120px;
        height: 85px;
        margin: 261px auto 0;

        background: url('../../img/logowhite.svg') 50% 50% no-repeat / 120px auto;
    }
    footer .contacts
    {
        padding-bottom: 70px;
    }
    footer .contacts::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .contacts .phone
    {
        font-size: 24px;
        font-weight: 700;

        margin: 0 auto;
        padding-top: 9px;
        padding-left: 3px;

        text-align: center;
    }
    footer .contacts .phone:hover
    {
        opacity: .5;
    }
    footer .contacts .address
    {
        font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
        font-style: italic;
        line-height: 27px;

        margin-bottom: 52px;
        padding-top: 3px;

        text-align: center;
    }
    footer .contacts .copyright
    {
        padding-right: 6px;

        text-align: center;
    }
    footer .contacts .copyright .madein
    {
        font-size: 12px;

        margin-bottom: 40px;
    }
    footer .contacts .copyright .madein:hover
    {
        opacity: .5;
    }
    footer .contacts .copyright .madein span
    {
        font-weight: 700;
    }
    footer .contacts .copyright .copy
    {
        font-size: 12px;
    }
}
@media (min-width: 1000px) and (max-width: 1499px)
{
    .wrapper
    {
        width: 982px;
    }
    main
    {
        min-width: 982px;
    }
    .m
    {
        display: block;
    }
    header
    {
        min-width: 982px;
    }
    header .navigation
    {
        height: 34px;

        color: white;
        background: #000;
    }
    header .navigation .phone
    {
        font-size: 12px;
        line-height: 31px;

        float: left;

        margin-right: 30px;
    }
    header .navigation .phone:hover
    {
        opacity: .9;
    }
    header .navigation .cityselect
    {
        font-size: 12px;
        line-height: 31px;

        position: relative;

        display: inline-block;
        float: left;

        height: 23px;
        margin-right: 29px;
        margin-left: 10px;

        cursor: pointer;
        text-align: center;

        border-bottom: 1px dotted white;
    }
    header .navigation .cityselect:hover
    {
        opacity: .9;
    }
    header .navigation .cityselect::after
    {
        position: absolute;
        top: 16px;
        right: -11px;

        display: block;

        content: '';

        border-width: 3px 3px 0;
        border-style: solid;
        border-color: transparent;
        border-top-color: white;
    }
    header .navigation .search
    {
        font-size: 12px;
        line-height: 31px;

        position: relative;

        display: inline-block;
        float: left;

        height: 23px;
        margin-left: 10px;

        cursor: pointer;

        border-bottom: 1px dotted white;
    }
    header .navigation .search:hover
    {
        opacity: .9;
    }
    header .navigation .search::after
    {
        position: absolute;
        top: 11px;
        right: -16px;

        display: block;

        width: 10px;
        height: 10px;

        content: '';

        background: url('../../img/search.svg') 50% 50% no-repeat / 10px 10px;
    }
    header .navigation .navigationmenu
    {
        float: right;
    }
    header .navigation .navigationmenu ul
    {
        float: right;

        margin: 0 -17px;

        text-align: right;
    }
    header .navigation .navigationmenu ul li
    {
        font-size: 12px;
        line-height: 31px;

        display: inline-block;

        margin: 0 17px;
    }
    header .navigation .navigationmenu ul li:hover
    {
        opacity: .9;
    }
    header .catalog-status
    {
        box-sizing: border-box;
        height: 149px;
        padding-top: 40px;
        padding-bottom: 23px;
    }
    header .catalog-status .logo
    {
        float: left;

        width: 134px;
        height: 94px;

        background: url('../../img/logo.svg') 50% 50% no-repeat / 134px 94px;
    }
    header .catalog-status .catalog
    {
        line-height: 83px;

        position: relative;

        display: block;
        float: left;

        width: 90px;
        height: 94px;
        margin-right: 25px;
        margin-left: 40px;

        cursor: pointer;
        text-align: center;
    }
    header .catalog-status .catalog::after
    {
        position: absolute;
        top: 42px;
        right: 4px;

        display: block;

        content: '';

        border-width: 4px 4px 0;
        border-style: solid;
        border-color: transparent;
        border-top-color: #000;
    }
    header .catalog-status .catalog:hover .underline
    {
        /*line-height: 26px;

        display: inline-block;*/

        border-bottom: 1px solid #000;
    }
    header .catalog-status .pickflavor
    {
        line-height: 83px;

        display: block;
        float: left;

        width: 170px;
        height: 94px;

        cursor: pointer;
        text-align: center;
    }
    header .catalog-status .pickflavor:hover .underline
    {
        /*line-height: 26px;

        display: inline-block;*/

        border-bottom: 1px solid #000;
    }
    header .catalog-status .userinfo
    {
        float: right;

        margin: 0 -15px;
    }
    header .catalog-status .userinfo .section
    {
        font-size: 14px;
        font-weight: 700;
        line-height: 86px;

        position: relative;

        display: inline-block;

        margin: 0 15px;

        color: #000;
    }
    /*header .catalog-status .userinfo .section.active
    {
        color: #753a80;
    }*/
    header .catalog-status .userinfo .section.active:hover .underline
    {
        /*line-height: 14px;

        display: inline-block;*/

        border-bottom: 1px solid #753a80;
    }
    header .catalog-status .userinfo .section:hover .underline
    {
        /*line-height: 14px;

        display: inline-block;*/
        color: #753a80;
        border-bottom: 1px solid #753a80;
    }
    @keyframes animateFav {
        0% {
            background: url(../images/animatedHeaders/purpule/fav/1.svg) 50% 80%/auto 45px no-repeat
        }
        25% {
            background: url(../images/animatedHeaders/purpule/fav/2.svg) 50% 80%/auto 45px no-repeat
        }
        50% {
            background: url(../images/animatedHeaders/purpule/fav/3.svg) 50% 80%/auto 45px no-repeat
        }
        75% {
            background: url(../images/animatedHeaders/purpule/fav/4.svg) 50% 80%/auto 45px no-repeat
        }
    }
    header .catalog-status .userinfo .favorite
    {
        padding-left: 38px;
    }
    header .catalog-status .userinfo .favorite::before
    {
        position: absolute;
        top: 10px;
        left: 0;

        display: block;

        width: 40px;
        height: 45px;

        content: '';

        background:url(../images/animatedHeaders/black/fav.svg) 50% 80%/auto 45px no-repeat;
    }
    header .catalog-status .userinfo .favorite.active::before
    {
        background-position: 0 50%;
    }
    header .catalog-status .userinfo .favorite:hover::before {
        background:url(../images/animatedHeaders/purpule/fav/1.svg) 50% 80%/auto 45px no-repeat;
        animation: animateFav 2s infinite;
    }
    header .catalog-status .userinfo .userprofile
    {
        padding-left: 40px;
    }
    header .catalog-status .userinfo .register
    {
        padding-left: 40px;
    }
    /*>>>>>*/
    /*!*transgender*!*/
    header .catalog-status .userinfo .userprofile.trans::before{
        background:url(../images/user_trans_black.svg) 50% 50%/auto 89px no-repeat;
        width: 45px;
        height: 45px;
        top: 15px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .userprofile.active.trans::before{background-position:0 50%}
    header .catalog-status .userinfo .register.trans::before{
        background:url(../images/user_trans_black.svg) 50% 50%/auto 89px no-repeat;
        width: 45px;
        height: 45px;
        top: 15px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .register.active.trans::before{background-position:0 50%}
    /*girl*/
    @keyframes animateGirl {
        0% {
            background-image: url(../images/animatedHeaders/purpule/girl/1.svg);
        }
        25% {
            background-image: url(../images/animatedHeaders/purpule/girl/2.svg);
        }
        50% {
            background-image: url(../images/animatedHeaders/purpule/girl/3.svg);
        }
        75% {
            background-image: url(../images/animatedHeaders/purpule/girl/4.svg);
        }
    }
    header .catalog-status .userinfo .userprofile.girl::before{
        background:url(../images/animatedHeaders/black/girl.svg) 50% 80%/auto 55px no-repeat;
        height: 55px;
        width: 33px;
        top: 5px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .userprofile.girl:hover::before{
        background:url(../images/animatedHeaders/purpule/girl/1.svg) 50% 80%/auto 55px no-repeat;
        animation: animateGirl 2s infinite;
    }
    header .catalog-status .userinfo .userprofile.active.girl::before{background-position:0 50%}
    header .catalog-status .userinfo .register.girl::before{
        background:url(../images/girl.svg) 100% 50%/auto 26px no-repeat;
        height: 55px;
        width: 33px;
        top: 5px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .register.girl:hover::before{
        background:url(../images/animatedHeaders/purpule/girl/1.svg) 50% 80%/auto 45px no-repeat;
        animation: animateGirl 2s infinite;
    }
    header .catalog-status .userinfo .register.active.girl::before{background-position:0 50%}
    /*boy*/
    @keyframes animateBoy {
        0% {
            background-image: url(../images/animatedHeaders/purpule/boy/1.svg);
        }
        25% {
            background-image: url(../images/animatedHeaders/purpule/boy/2.svg);
        }
        50% {
            background-image: url(../images/animatedHeaders/purpule/boy/3.svg);
        }
        75% {
            background-image: url(../images/animatedHeaders/purpule/boy/4.svg);
        }
    }
    header .catalog-status .userinfo .userprofile.boy::before{
        background:url(../images/animatedHeaders/black/boy.svg) 50% 80%/auto 55px no-repeat;
        height: 55px;
        width: 33px;
        top: 5px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .userprofile.boy:hover::before{
        background:url(../images/animatedHeaders/black/boy.svg) 50% 80%/auto 55px no-repeat;
        animation: animateBoy 2s infinite;
    }
    header .catalog-status .userinfo .userprofile.active.boy::before{background-position:0 50%}
    header .catalog-status .userinfo .register.boy::before{
        background:url(../images/animatedHeaders/black/boy.svg) 50% 80%/auto 55px no-repeat;
        height: 55px;
        width: 33px;
        top: 5px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .register.boy:hover::before{
        background:url(../images/animatedHeaders/black/boy.svg) 50% 80%/auto 55px no-repeat;
        animation: animateBoy 2s infinite;
    }
    header .catalog-status .userinfo .register.active.boy::before{background-position:0 50%}
    /*<<<<<*/
    /*Cart*/
    @keyframes animateCart {
        0% {
            background-image: url(../images/animatedHeaders/purpule/basket/1.svg);
        }
        25% {
            background-image: url(../images/animatedHeaders/purpule/basket/2.svg);
        }
        50% {
            background-image: url(../images/animatedHeaders/purpule/basket/3.svg);
        }
        75% {
            background-image: url(../images/animatedHeaders/purpule/basket/4.svg);
        }
    }
    header .catalog-status .userinfo .cart
    {
        padding-left: 30px;
    }
    header .catalog-status .userinfo .cart::before
    {
        position: absolute;
        top: 15px;
        left: 2px;

        display: block;

        width: 20px;
        height: 40px;

        content: '';

        background:url(../images/animatedHeaders/black/basket.svg) 50% 50%/auto 45px no-repeat;
    }
    header .catalog-status .userinfo .cart:hover::before{
        background:url(../images/animatedHeaders/purpule/basket/1.svg) 50% 50%/auto 45px no-repeat;
        animation: animateCart 2s infinite;
    }
    header .catalog-status .userinfo .cart.active::before
    {
        background-position: 0 50%;
    }
/*->->->->*/
    header .catalog-status .userinfo .cart .total
    {
        display: inline-block;

        margin-right: 2px;
    }
    footer
    {
        min-width: 982px;
        padding-top: 68px;

        color: #fff;
        background: #753a80;
    }
    footer .subscribesocial .subscribe form
    {
        position: relative;

        float: left;
    }
    footer .subscribesocial .subscribe form .subscribelabel
    {
        font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
        font-size: 14px;
        font-style: italic;
        line-height: 15px;

        display: block;
        float: left;

        width: 300px;
        margin-left: 20px;
        padding-top: 3px;

        cursor: pointer;
    }
    footer .subscribesocial .subscribe form input[type=text]
    {
        line-height: 36px;

        display: block;
        float: left;

        box-sizing: border-box;
        width: 257px;
        height: 36px;
        padding-left: 13px;

        border: none;
        background: #fff;
    }
    footer .subscribesocial .subscribe form input[type=submit]
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;

        position: absolute;
        top: 1px;
        left: 216px;

        display: block;

        cursor: pointer;
        text-align: center;
        letter-spacing: 3px;

        color: #753a80;
        border: none;
        background: transparent;
    }
    footer .subscribesocial .social
    {
        float: right;
    }
    footer .subscribesocial .social p
    {
        font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
        font-size: 14px;
        font-style: italic;
        line-height: 16px;

        float: right;

        width: 203px;
        margin-left: 13px;
        padding-top: 2px;
    }
    footer .subscribesocial .social .socialbutton
    {
        float: left;

        width: 24px;
        height: 24px;
        margin: 8px 8px 0;
    }
    footer .subscribesocial .social .socialbutton:hover
    {
        opacity: .5;
    }
    footer .subscribesocial .social .socialbutton.ig
    {
        background: url('../../img/ig.svg') 50% 50% no-repeat / 24px auto;
    }
    footer .subscribesocial .social .socialbutton.vk
    {
        background: url('../../img/vk.svg') 50% 50% no-repeat / 24px auto;
    }
    footer .subscribesocial .social .socialbutton.fb
    {
        background: url('../../img/fb.svg') 50% 50% no-repeat / 24px auto;
    }
    footer .cataloglinks
    {
        margin: 0 -26px;
        padding-top: 105px;
        padding-bottom: 25px;
    }
    footer .cataloglinks::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .cataloglinks .section
    {
        float: left;

        margin: 0 26px;
    }
    footer .cataloglinks .section p
    {
        font-size: 14px;
        font-weight: 700;

        margin-bottom: 15px;

        letter-spacing: 3px;
    }
    footer .cataloglinks .section ul li
    {
        font-size: 14px;
        line-height: 21px;

        height: 19px;
    }
    footer .cataloglinks .section ul li:hover
    {
        text-decoration: underline;
    }
    footer .navigationlinks
    {
        padding-top: 17px;
        padding-bottom: 62px;
    }
    footer .navigationlinks::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .navigationlinks .logo
    {
        float: left;

        width: 160px;
        height: 113px;
        margin-top: 6px;
        margin-right: 78px;

        background: url('../../img/logowhite.svg') 50% 50% no-repeat / 160px auto;
    }
    footer .navigationlinks .mainnavigation
    {
        float: left;

        width: 148px;
        margin-right: 32px;
    }
    footer .navigationlinks .mainnavigation ul li
    {
        font-size: 14px;

        height: 21px;
    }
    footer .navigationlinks .mainnavigation ul li:hover
    {
        text-decoration: underline;
    }
    footer .navigationlinks .othernavigation
    {
        float: left;
    }
    footer .navigationlinks .othernavigation::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .navigationlinks .othernavigation ul
    {
        width: 530px;
    }
    footer .navigationlinks .othernavigation ul li
    {
        font-size: 14px;

        width: 265px;
        height: 21px;
    }
    footer .navigationlinks .othernavigation ul li:hover
    {
        text-decoration: underline;
    }
    footer .contacts
    {
        padding-bottom: 55px;
    }
    footer .contacts::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .contacts .phone
    {
        font-size: 18px;
        font-weight: 700;

        float: left;

        margin-right: 83px;
        padding-top: 15px;
        padding-left: 3px;
    }
    footer .contacts .phone:hover
    {
        opacity: .5;
    }
    footer .contacts .address
    {
        font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
        font-style: italic;
        line-height: 27px;

        float: left;

        padding-top: 15px;
    }
    footer .contacts .copyright
    {
        float: right;

        padding-right: 6px;
    }
    footer .contacts .copyright .madein
    {
        font-size: 12px;

        margin-bottom: 5px;
    }
    footer .contacts .copyright .madein:hover
    {
        opacity: .5;
    }
    footer .contacts .copyright .madein span
    {
        font-weight: 700;
    }
    footer .contacts .copyright .copy
    {
        font-size: 12px;
    }
}
@media (min-width: 1500px)
{
    .wrapper
    {
        width: 1480px;
    }
    main
    {
        min-width: 1480px;
    }
    .f
    {
        display: block;
    }
    header
    {
        min-width: 1480px;
    }
    header .navigation
    {
        height: 25px;

        color: white;
        background: #000;
    }
    header .navigation .phone
    {
        font-size: 12px;
        line-height: 24px;

        float: left;

        margin-right: 30px;
    }
    header .navigation .phone:hover
    {
        opacity: .9;
    }
    header .navigation .cityselect
    {
        font-size: 12px;
        line-height: 24px;

        position: relative;

        display: inline-block;
        float: left;

        height: 19px;
        margin-right: 29px;
        margin-left: 10px;

        cursor: pointer;
        text-align: center;

        border-bottom: 1px dotted white;
    }
    header .navigation .cityselect:hover
    {
        opacity: .9;
    }
    header .navigation .cityselect::after
    {
        position: absolute;
        top: 12px;
        right: -11px;

        display: block;

        content: '';

        border-width: 3px 3px 0;
        border-style: solid;
        border-color: transparent;
        border-top-color: white;
    }
    header .navigation .search
    {
        font-size: 12px;
        line-height: 24px;

        position: relative;

        display: inline-block;
        float: left;

        height: 19px;
        margin-left: 10px;

        cursor: pointer;

        border-bottom: 1px dotted white;
    }
    header .navigation .search:hover
    {
        opacity: .9;
    }
    header .navigation .search::after
    {
        position: absolute;
        top: 7px;
        right: -16px;

        display: block;

        width: 10px;
        height: 10px;

        content: '';

        background: url('../../img/search.svg') 50% 50% no-repeat / 10px 10px;
    }
    header .navigation .navigationmenu
    {
        float: right;
    }
    header .navigation .navigationmenu ul
    {
        float: right;

        margin: 0 -17px;

        text-align: right;
    }
    header .navigation .navigationmenu ul li
    {
        font-size: 12px;
        line-height: 24px;

        display: inline-block;

        margin: 0 17px;
    }
    header .navigation .navigationmenu ul li:hover
    {
        opacity: .9;
    }
    header .catalog-status
    {
        box-sizing: border-box;
        height: 149px;
        padding-top: 32px;
        padding-bottom: 23px;
    }
    header .catalog-status .logo
    {
        float: left;

        width: 134px;
        height: 94px;

        background: url('../../img/logo.svg') 50% 50% no-repeat / 134px 94px;
    }
    header .catalog-status .catalog
    {
        line-height: 83px;

        position: relative;

        display: block;
        float: left;

        width: 90px;
        height: 94px;
        margin-right: 11px;
        margin-left: 40px;

        cursor: pointer;
        text-align: center;
    }
    header .catalog-status .catalog::after
    {
        position: absolute;
        top: 42px;
        right: 4px;

        display: block;

        content: '';

        border-width: 4px 4px 0;
        border-style: solid;
        border-color: transparent;
        border-top-color: #000;
    }
    header .catalog-status .catalog:hover .underline
    {
        /*line-height: 26px;

        display: inline-block;*/

        border-bottom: 1px solid #000;
    }
    header .catalog-status .pickflavor
    {
        line-height: 83px;

        display: block;
        float: left;

        width: 170px;
        height: 94px;

        cursor: pointer;
        text-align: center;
    }
    header .catalog-status .pickflavor:hover .underline
    {
        /*line-height: 26px;

        display: inline-block;*/

        border-bottom: 1px solid #000;
    }
    header .catalog-status .userinfo
    {
        float: right;

        margin: 0 -15px;
    }
    header .catalog-status .userinfo .section
    {
        font-size: 14px;
        font-weight: 700;
        line-height: 86px;

        position: relative;

        display: inline-block;

        margin: 0 15px;

        color: #000;
    }
    /*header .catalog-status .userinfo .section.active
    {
        color: #753a80;
    }*/
    header .catalog-status .userinfo .section.active:hover .underline
    {
        /*line-height: 14px;

        display: inline-block;*/

        border-bottom: 1px solid #753a80;
    }
    header .catalog-status .userinfo .section:hover .underline
    {
        /*line-height: 14px;

        display: inline-block;*/
        color: #753a80;
        border-bottom: 1px solid #753a80;
    }
    @keyframes animateFav {
        0% {
            background: url(../images/animatedHeaders/purpule/fav/1.svg) 50% 80%/auto 45px no-repeat
        }
        25% {
            background: url(../images/animatedHeaders/purpule/fav/2.svg) 50% 80%/auto 45px no-repeat
        }
        50% {
            background: url(../images/animatedHeaders/purpule/fav/3.svg) 50% 80%/auto 45px no-repeat
        }
        75% {
            background: url(../images/animatedHeaders/purpule/fav/4.svg) 50% 80%/auto 45px no-repeat
        }
    }
    header .catalog-status .userinfo .favorite
    {
        padding-left: 38px;
    }
    header .catalog-status .userinfo .favorite::before
    {
        position: absolute;
        top: 10px;
        left: 0;

        display: block;

        width: 40px;
        height: 45px;

        content: '';

        background:url(../images/animatedHeaders/black/fav.svg) 50% 80%/auto 45px no-repeat;
    }
    header .catalog-status .userinfo .favorite.active::before
    {
        background-position: 0 50%;
    }
    header .catalog-status .userinfo .favorite:hover::before {
        background:url(../images/animatedHeaders/purpule/fav/1.svg) 50% 80%/auto 45px no-repeat;
        animation: animateFav 2s infinite;
    }
    header .catalog-status .userinfo .userprofile
    {
        padding-left: 40px;
    }
    header .catalog-status .userinfo .register
    {
        padding-left: 40px;
    }
    /*>>>>>*/
    /*!*transgender*!*/
    header .catalog-status .userinfo .userprofile.trans::before{
        background:url(../images/user_trans_black.svg) 50% 50%/auto 89px no-repeat;
        width: 45px;
        height: 45px;
        top: 15px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .userprofile.active.trans::before{background-position:0 50%}
    header .catalog-status .userinfo .register.trans::before{
        background:url(../images/user_trans_black.svg) 50% 50%/auto 89px no-repeat;
        width: 45px;
        height: 45px;
        top: 15px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .register.active.trans::before{background-position:0 50%}
    /*girl*/
    @keyframes animateGirl {
        0% {
            background-image: url(../images/animatedHeaders/purpule/girl/1.svg);
        }
        25% {
            background-image: url(../images/animatedHeaders/purpule/girl/2.svg);
        }
        50% {
            background-image: url(../images/animatedHeaders/purpule/girl/3.svg);
        }
        75% {
            background-image: url(../images/animatedHeaders/purpule/girl/4.svg);
        }
    }
    header .catalog-status .userinfo .userprofile.girl::before{
        background:url(../images/animatedHeaders/black/girl.svg) 50% 80%/auto 55px no-repeat;
        height: 55px;
        width: 33px;
        top: 5px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .userprofile.girl:hover::before{
        background:url(../images/animatedHeaders/purpule/girl/1.svg) 50% 80%/auto 55px no-repeat;
        animation: animateGirl 2s infinite;
    }
    header .catalog-status .userinfo .userprofile.active.girl::before{background-position:0 50%}
    header .catalog-status .userinfo .register.girl::before{
        background:url(../images/girl.svg) 100% 50%/auto 26px no-repeat;
        height: 55px;
        width: 33px;
        top: 5px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .register.girl:hover::before{
        background:url(../images/animatedHeaders/purpule/girl/1.svg) 50% 80%/auto 45px no-repeat;
        animation: animateGirl 2s infinite;
    }
    header .catalog-status .userinfo .register.active.girl::before{background-position:0 50%}
    /*boy*/
    @keyframes animateBoy {
        0% {
            background-image: url(../images/animatedHeaders/purpule/boy/1.svg);
        }
        25% {
            background-image: url(../images/animatedHeaders/purpule/boy/2.svg);
        }
        50% {
            background-image: url(../images/animatedHeaders/purpule/boy/3.svg);
        }
        75% {
            background-image: url(../images/animatedHeaders/purpule/boy/4.svg);
        }
    }
    header .catalog-status .userinfo .userprofile.boy::before{
        background:url(../images/animatedHeaders/black/boy.svg) 50% 80%/auto 55px no-repeat;
        height: 55px;
        width: 33px;
        top: 5px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .userprofile.boy:hover::before{
        background:url(../images/animatedHeaders/black/boy.svg) 50% 80%/auto 55px no-repeat;
        animation: animateBoy 2s infinite;
    }
    header .catalog-status .userinfo .userprofile.active.boy::before{background-position:0 50%}
    header .catalog-status .userinfo .register.boy::before{
        background:url(../images/animatedHeaders/black/boy.svg) 50% 80%/auto 55px no-repeat;
        height: 55px;
        width: 33px;
        top: 5px;
        position: absolute;
        left: 0;
        display: block;

        content: '';
    }
    header .catalog-status .userinfo .register.boy:hover::before{
        background:url(../images/animatedHeaders/black/boy.svg) 50% 80%/auto 55px no-repeat;
        animation: animateBoy 2s infinite;
    }
    header .catalog-status .userinfo .register.active.boy::before{background-position:0 50%}
    /*<<<<<*/
    /*Cart*/
    @keyframes animateCart {
        0% {
            background-image: url(../images/animatedHeaders/purpule/basket/1.svg);
        }
        25% {
            background-image: url(../images/animatedHeaders/purpule/basket/2.svg);
        }
        50% {
            background-image: url(../images/animatedHeaders/purpule/basket/3.svg);
        }
        75% {
            background-image: url(../images/animatedHeaders/purpule/basket/4.svg);
        }
    }
    header .catalog-status .userinfo .cart
    {
        padding-left: 30px;
    }
    header .catalog-status .userinfo .cart::before
    {
        position: absolute;
        top: 15px;
        left: 2px;

        display: block;

        width: 20px;
        height: 40px;

        content: '';

        background:url(../images/animatedHeaders/black/basket.svg) 50% 50%/auto 45px no-repeat;
    }
    header .catalog-status .userinfo .cart:hover::before{
        background:url(../images/animatedHeaders/purpule/basket/1.svg) 50% 50%/auto 45px no-repeat;
        animation: animateCart 2s infinite;
    }
    header .catalog-status .userinfo .cart.active::before
    {
        background-position: 0 50%;
    }
    /*->->->->*/
    header .catalog-status .userinfo .cart .total
    {
        display: inline-block;

        margin-right: 2px;
    }
    footer
    {
        min-width: 1480px;
        padding-top: 68px;

        color: #fff;
        background: #753a80;
    }
    footer .subscribesocial .subscribe form
    {
        position: relative;

        float: left;
    }
    footer .subscribesocial .subscribe form .subscribelabel
    {
        font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
        font-size: 14px;
        font-style: italic;
        line-height: 15px;

        display: block;
        float: left;

        width: 300px;
        margin-left: 28px;
        padding-top: 3px;

        cursor: pointer;
    }
    footer .subscribesocial .subscribe form input[type=text]
    {
        line-height: 36px;

        display: block;
        float: left;

        box-sizing: border-box;
        width: 257px;
        height: 36px;
        padding-left: 13px;

        border: none;
        background: #fff;
    }
    footer .subscribesocial .subscribe form input[type=submit]
    {
        font-size: 16px;
        font-weight: 700;
        line-height: 36px;

        position: absolute;
        top: 1px;
        left: 216px;

        display: block;

        cursor: pointer;
        text-align: center;
        letter-spacing: 3px;

        color: #753a80;
        border: none;
        background: transparent;
    }
    footer .subscribesocial .social
    {
        float: right;
    }
    footer .subscribesocial .social p
    {
        font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
        font-size: 14px;
        font-style: italic;
        line-height: 16px;

        float: right;

        width: 203px;
        margin-left: 13px;
        padding-top: 2px;
    }
    footer .subscribesocial .social .socialbutton
    {
        float: left;

        width: 24px;
        height: 24px;
        margin: 8px 8px 0;
    }
    footer .subscribesocial .social .socialbutton:hover
    {
        opacity: .5;
    }
    footer .subscribesocial .social .socialbutton.ig
    {
        background: url('../../img/ig.svg') 50% 50% no-repeat / 24px auto;
    }
    footer .subscribesocial .social .socialbutton.vk
    {
        background: url('../../img/vk.svg') 50% 50% no-repeat / 24px auto;
    }
    footer .subscribesocial .social .socialbutton.fb
    {
        background: url('../../img/fb.svg') 50% 50% no-repeat / 24px auto;
    }
    footer .cataloglinks
    {
        margin: 0 -52px;
        padding-top: 100px;
        padding-bottom: 20px;
    }
    footer .cataloglinks::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .cataloglinks .section
    {
        float: left;

        margin: 0 52px;
    }
    footer .cataloglinks .section p
    {
        font-size: 18px;
        font-weight: 700;

        margin-bottom: 16px;

        letter-spacing: 2px;
    }
    footer .cataloglinks .section ul li
    {
        line-height: 21px;

        height: 21px;
    }
    footer .cataloglinks .section ul li:hover
    {
        text-decoration: underline;
    }
    footer .navigationlinks
    {
        padding-top: 23px;
        padding-bottom: 18px;
    }
    footer .navigationlinks::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .navigationlinks .logo
    {
        float: left;

        width: 160px;
        height: 113px;
        margin-right: 83px;

        background: url('../../img/logowhite.svg') 50% 50% no-repeat / 160px auto;
    }
    footer .navigationlinks .mainnavigation
    {
        float: left;

        width: 200px;
        margin-right: 32px;
        padding-top: 10px;
    }
    footer .navigationlinks .mainnavigation ul li
    {
        height: 21px;
    }
    footer .navigationlinks .mainnavigation ul li:hover
    {
        text-decoration: underline;
    }
    footer .navigationlinks .othernavigation
    {
        float: left;

        padding-top: 10px;
    }
    footer .navigationlinks .othernavigation::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .navigationlinks .othernavigation ul
    {
        width: 230px;
    }
    footer .navigationlinks .othernavigation ul li
    {
        float: left;

        width: 265px;
        height: 21px;
    }
    footer .navigationlinks .othernavigation ul li:hover
    {
        text-decoration: underline;
    }
    footer .contacts
    {
        padding-bottom: 55px;
    }
    footer .contacts::after
    {
        display: block;
        clear: both;

        content: '';
    }
    footer .contacts .phone
    {
        font-size: 18px;
        font-weight: 700;

        float: left;

        margin-right: 98px;
        padding-top: 15px;
        padding-left: 3px;
    }
    footer .contacts .phone:hover
    {
        opacity: .5;
    }
    footer .contacts .address
    {
        font-family: 'PTSerif', 'Arial', 'Verdana', sans-serif;
        font-style: italic;
        line-height: 27px;

        float: left;

        padding-top: 15px;
    }
    footer .contacts .copyright
    {
        float: right;

        padding-right: 39px;
    }
    footer .contacts .copyright .madein
    {
        font-size: 12px;

        margin-bottom: 5px;
    }
    footer .contacts .copyright .madein:hover
    {
        opacity: .5;
    }
    footer .contacts .copyright .madein span
    {
        font-weight: 700;
    }
    footer .contacts .copyright .copy
    {
        font-size: 12px;
    }
}